version: '3'

services:
  automata:
    build: .
    # image: muncs/automata
    restart: always
    volumes:
      - ./mounted_plugins:/app/mounted_plugins
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mvertes/alpine-mongo
    restart: always
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: {}
