aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
discord.py==1.2.5
idna==2.8
Jigsaw==3.2.0
motor==2.0.0
multidict==4.7.5
prometheus-async==19.2.0
prometheus-client==0.7.1
pymongo==3.10.1
python-dotenv==0.12.0
requests==2.21.0
sentry-sdk==0.7.10
soupsieve==2.0.1
urllib3==1.24.3
websockets==6.0
wrapt==1.12.1
yarl==1.4.2
